/*body {*/
/*    font-family: Helvetica;*/
/*}*/

.container {
    /*display: flex;*/
    margin: 25px auto 50px auto;
    width: 1200px;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar__items {
    margin: 10px 20px 50px;
    color: #000;
    font-size: 21px;
}

.header__title {
    font-size: 40px;
    margin-bottom: 20px;
}

.header__sub-title {
    font-size: 28px;

}


@media screen and (max-width: 520px) {
    .container {
        width: auto;
        padding: 20px;
    }

    .nav-bar {
        display: none;
    }
}
